<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @birthdays.present? %>
      <h4>Wishing many more happy returns of the day to <br/></h4>
      <% @birthdays.each do |birthday| %>
        <h3><%= birthday.name %></h3>
      <% end %>
      <br/><br/>
    <% end %> 
    
    <% if @weddings.present? %>
      <h4>Wishing a very happy wedding anniversary to <br/></h4>
      <% @weddings.each do |wedding| %>
        <h3><%= wedding.name %></h3>
      <% end %>
      <br/><br/>
    <% end %>
    
    <% if @office_anniversaries.present? %>
      <h4>Wishing a very successful year of completion to <br/></h4>
      <% @office_anniversaries.each do |office_anniversaries| %>
        <h3><%= office_anniversaries.name %></h3>
      <% end %>
      <br/><br/>
    <% end %>

    <h4>Have a great year ahead! :)</h4>
  </body>
</html>