.alert-alert {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.alert-notice {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

@media (min-width:768px){
  .navbar{
    border-radius: 0px !important;
  }
}

.border2{
  border: 2px solid #eee;
}